.header{
    width: 100%;
    display: flex;
    background-color: #8BC34A;
    justify-content: space-around;
    align-items: center;

}

.logo{
    font-size: 20px;
    color: white;
    padding: 10px;
}

.auth{
    display: flex;
    align-items: center;
    color: white;
}
.auth li{

    list-style: none;
    margin: 8px 2px;
}
.auth li  a{
    text-decoration: none;
    color: white;    
    font-weight: 600;
    font-size: 16px;
}
.auth li  a:hover{
    text-decoration: underline;
}

.cart__image{
    width: 50px;
    height: 40px;
}