<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
							<h1>	{{!!cartItems}}</h1>

						</tr>
					</thead>
					<tbody>
					
						<tr *ngFor="let item of cartItems">
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="{{imageUrl}}{{item.product.image_1}}" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<!-- <h4 class="nomargin">Product 1</h4> -->
										<p>{{item.product.productName}}</p>
									</div>
								</div>
							</td>
							<td data-th="Price">{{item.price}}</td>
							<td data-th="Quantity">
								<input type="number" class="form-control text-center" #quantity value={{item.quantity}}>
							</td>
							<td data-th="Subtotal" class="text-center">{{item.total}}</td>
							<td class="actions" data-th="">
								<button class="btn btn-info btn-sm" (click)="updateCartItem(item.productToCartId,quantity.value)"><i class="fa fa-refresh"></i></button>
								<button class="btn btn-danger btn-sm" (click)="removeCartItem(item.productToCartId)"><i class="fa fa-trash-o"></i></button>								
							</td>
						</tr>
					</tbody>
					<!-- <ng-template #elseBlock>Content to render when condition is false.</ng-template> -->

					<tfoot>
						<tr>
							<td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total {{cart?.total}}</strong></td>
							<td><button class="btn btn-success btn-block" (click)="confirmOrder()">Checkout <i class="fa fa-angle-right"></i></button></td>
						</tr>
					</tfoot>
				</table>
</div>