<div class="container">

  <div class="row">
  <div class="col-sm-3" *ngFor="let p of products">
    <div class="custom-card">
      <img src="{{imageUrl}}/{{p.image_1}}" alt="{{p.productName}}" width="150px" class="card-img-top image"  style="cursor:pointer;" >
      <div class="card-header">
      <div class="custom-card-title">
        <p>{{p.productName.substring(0,60) | titlecase}}</p>
      </div>
      </div>
      <div class="card-body">
      <!-- <h6>{{p.description.substr(0, 40)}} ....</h6> -->
      <p class="lead">{{p.price | currency:'USD'}}</p>
      </div>

      <div class=" d-flex justify-content-center border-primary ">
        <button class="btn btn-outline-primary"
            [class.disabled]="p.quantity < 1"
            [class.btn-outline-danger]="p.quantity < 1"
           [disabled]="p.quantity < 1"
             (click)="addItemToCart(p.id)"
           >
        {{ p.quantity < 1 ? "NO STOCK" : "Add To Cart"}}
        </button>
      </div>

    </div>

    </div>
  </div>
</div>
