<div class="form-wrapper">
<form class="form-med" enctype="multipart/form-data" #form='ngForm' (ngSubmit)="onSubmit(form)">


  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
  <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>

  <h2 class="form-heading">Add Product</h2>

  <div class="form-group">
    <label for="productName">Product Name</label>
    <input type="text" class="form-control" id="productName" name="productName" required ngModel placeholder="Product Name">
  </div>
  <div class="form-group">
    <label for="productDesc">Product Description</label>
    <textarea class="form-control" id="productDesc" placeholder="Product Description" name="productDesc" ngModel></textarea>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select id="category" name="category" ngModel required class="form-control">
      <option selected value='null'>Select Category</option>
      <option *ngFor="let cat of categories" value={{cat.id}}>{{cat.categoryName}}</option>
    </select>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="quantity">Quantity</label>
      <input type="number" class="form-control" id="quantity" name="quantity" required ngModel placeholder="Quantity">
    </div>
    <div class="form-group col-md-6">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" name="price" ngModel required placeholder="Price">
    </div>
  </div>
  <div class="form-group">
    <label class="form-label" for="image_1">Image 1</label>
    <input type="file" (change)="onFileSelect($event,'image_1')" class="form-control" id="image_1" name="image_1" required ngModel />
  </div>
  <div class="form-group">
    <label class="form-label" for="image_2">Image 2</label>
    <input type="file" (change)="onFileSelect($event,'image_2')" class="form-control" id="image_2" name="image_1" ngModel/>
  </div>
  <div class="form-group">
    <label class="form-label" for="image_3">Image 3</label>
    <input type="file" class="form-control" id="image_3" name="image_1" ngModel />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Add Product</button>
</form>

</div>